tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
	background-color: #88563F;
}

#chessboard {
	font-size:25px;
	text-align:center;
	border : 3px solid black;
    border-spacing: 0;
	/* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chessboard tr {
	height:40px;
}

#chessboard td {
	width:40px;
	border:1px solid black;
}

#container {
	margin:100px 0 100px 100px;
}

#thinkprogress {
	width:250px;
}